USE [database_name]
GO
/****** Object:  StoredProcedure [adm].[sp_incremental_load_staging]    Script Date: 8/17/2025 4:34:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [adm].[sp_incremental_load_staging]
AS
BEGIN
    SET NOCOUNT ON;

    ---------------------------------------------------------
    -- Audit log table (create if not exists)
    ---------------------------------------------------------
    IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[audit_log]') AND type in (N'U'))
    CREATE TABLE [dbo].[audit_log](
        [Id] INT IDENTITY(1,1) PRIMARY KEY,
        [Process] VARCHAR(100) NULL,
        [Table] VARCHAR(100) NULL,
        [Records_inserted] INT NULL,
        [Records_updated] INT NULL,
        [Status] VARCHAR(100),
        [Dated] DATETIME NULL
    );

    ---------------------------------------------------------
    -- Collect changes here
    ---------------------------------------------------------
    DECLARE @SummaryOfChanges TABLE(
        TableName VARCHAR(100),
        Change VARCHAR(20)
    );

    ---------------------------------------------------------
    -- ERP1 Revenue
    ---------------------------------------------------------
    MERGE dbo.erp1_revenue AS TARGET
    USING (SELECT * FROM stg.erp1_revenue) AS SOURCE
    ON (TARGET.erp_doc_id = SOURCE.erp_doc_id)
    WHEN MATCHED 
         AND HASHBYTES('SHA1', 
              UPPER(CONCAT_WS('|',
                  TARGET.erp_doc_id, TARGET.erp_doc_type, TARGET.erp_post_date,
                  TARGET.erp_sku, TARGET.erp_customer_code, TARGET.erp_location_code,
                  TARGET.qty, TARGET.unit_price, TARGET.gross_amount,
                  TARGET.discount_amount, TARGET.currency_code, TARGET.tax_amount, TARGET.uom
              ))) 
          <> HASHBYTES('SHA1', 
              UPPER(CONCAT_WS('|',
                  SOURCE.erp_doc_id, SOURCE.erp_doc_type, SOURCE.erp_post_date,
                  SOURCE.erp_sku, SOURCE.erp_customer_code, SOURCE.erp_location_code,
                  SOURCE.qty, SOURCE.unit_price, SOURCE.gross_amount,
                  SOURCE.discount_amount, SOURCE.currency_code, SOURCE.tax_amount, SOURCE.uom
              )))
    THEN UPDATE SET
        TARGET.erp_doc_type      = SOURCE.erp_doc_type,
        TARGET.erp_post_date     = SOURCE.erp_post_date,
        TARGET.erp_sku           = SOURCE.erp_sku,
        TARGET.erp_customer_code = SOURCE.erp_customer_code,
        TARGET.erp_location_code = SOURCE.erp_location_code,
        TARGET.qty               = SOURCE.qty,
        TARGET.unit_price        = SOURCE.unit_price,
        TARGET.gross_amount      = SOURCE.gross_amount,
        TARGET.discount_amount   = SOURCE.discount_amount,
        TARGET.currency_code     = SOURCE.currency_code,
        TARGET.tax_amount        = SOURCE.tax_amount,
        TARGET.uom               = SOURCE.uom,
        TARGET.load_ts           = SYSUTCDATETIME()
    WHEN NOT MATCHED BY TARGET
    THEN INSERT (erp_doc_id, erp_doc_type, erp_post_date, erp_sku, erp_customer_code,
                 erp_location_code, qty, unit_price, gross_amount, discount_amount,
                 currency_code, tax_amount, uom, load_ts)
         VALUES (SOURCE.erp_doc_id, SOURCE.erp_doc_type, SOURCE.erp_post_date, SOURCE.erp_sku, SOURCE.erp_customer_code,
                 SOURCE.erp_location_code, SOURCE.qty, SOURCE.unit_price, SOURCE.gross_amount, SOURCE.discount_amount,
                 SOURCE.currency_code, SOURCE.tax_amount, SOURCE.uom, SYSUTCDATETIME())
    OUTPUT 'erp1_revenue', $action INTO @SummaryOfChanges;

    ---------------------------------------------------------
    -- ERP2 Revenue
    ---------------------------------------------------------
    MERGE dbo.erp2_revenue AS TARGET
    USING (SELECT * FROM stg.erp2_revenue) AS SOURCE
    ON (TARGET.erp_doc_id = SOURCE.erp_doc_id)
    WHEN MATCHED 
         AND HASHBYTES('SHA1', 
              UPPER(CONCAT_WS('|',
                  TARGET.erp_doc_id, TARGET.erp_doc_type, TARGET.erp_post_date,
                  TARGET.erp_sku, TARGET.erp_customer_code, TARGET.erp_location_code,
                  TARGET.qty, TARGET.unit_price, TARGET.gross_amount,
                  TARGET.discount_amount, TARGET.currency_code, TARGET.tax_amount, TARGET.uom
              ))) 
          <> HASHBYTES('SHA1', 
              UPPER(CONCAT_WS('|',
                  SOURCE.erp_doc_id, SOURCE.erp_doc_type, SOURCE.erp_post_date,
                  SOURCE.erp_sku, SOURCE.erp_customer_code, SOURCE.erp_location_code,
                  SOURCE.qty, SOURCE.unit_price, SOURCE.gross_amount,
                  SOURCE.discount_amount, SOURCE.currency_code, SOURCE.tax_amount, SOURCE.uom
              )))
    THEN UPDATE SET
        TARGET.erp_doc_type      = SOURCE.erp_doc_type,
        TARGET.erp_post_date     = SOURCE.erp_post_date,
        TARGET.erp_sku           = SOURCE.erp_sku,
        TARGET.erp_customer_code = SOURCE.erp_customer_code,
        TARGET.erp_location_code = SOURCE.erp_location_code,
        TARGET.qty               = SOURCE.qty,
        TARGET.unit_price        = SOURCE.unit_price,
        TARGET.gross_amount      = SOURCE.gross_amount,
        TARGET.discount_amount   = SOURCE.discount_amount,
        TARGET.currency_code     = SOURCE.currency_code,
        TARGET.tax_amount        = SOURCE.tax_amount,
        TARGET.uom               = SOURCE.uom,
        TARGET.load_ts           = SYSUTCDATETIME()
    WHEN NOT MATCHED BY TARGET
    THEN INSERT (erp_doc_id, erp_doc_type, erp_post_date, erp_sku, erp_customer_code,
                 erp_location_code, qty, unit_price, gross_amount, discount_amount,
                 currency_code, tax_amount, uom, load_ts)
         VALUES (SOURCE.erp_doc_id, SOURCE.erp_doc_type, SOURCE.erp_post_date, SOURCE.erp_sku, SOURCE.erp_customer_code,
                 SOURCE.erp_location_code, SOURCE.qty, SOURCE.unit_price, SOURCE.gross_amount, SOURCE.discount_amount,
                 SOURCE.currency_code, SOURCE.tax_amount, SOURCE.uom, SYSUTCDATETIME())
    OUTPUT 'erp2_revenue', $action INTO @SummaryOfChanges;

    ---------------------------------------------------------
    -- ERP3 Revenue
    ---------------------------------------------------------
    MERGE dbo.erp3_revenue AS TARGET
    USING (SELECT * FROM stg.erp3_revenue) AS SOURCE
    ON (TARGET.erp_doc_id = SOURCE.erp_doc_id)
    WHEN MATCHED 
         AND HASHBYTES('SHA1', 
              UPPER(CONCAT_WS('|',
                  TARGET.erp_doc_id, TARGET.erp_doc_type, TARGET.erp_post_date,
                  TARGET.erp_sku, TARGET.erp_customer_code, TARGET.erp_location_code,
                  TARGET.qty, TARGET.unit_price, TARGET.gross_amount,
                  TARGET.discount_amount, TARGET.currency_code, TARGET.tax_amount, TARGET.uom
              ))) 
          <> HASHBYTES('SHA1', 
              UPPER(CONCAT_WS('|',
                  SOURCE.erp_doc_id, SOURCE.erp_doc_type, SOURCE.erp_post_date,
                  SOURCE.erp_sku, SOURCE.erp_customer_code, SOURCE.erp_location_code,
                  SOURCE.qty, SOURCE.unit_price, SOURCE.gross_amount,
                  SOURCE.discount_amount, SOURCE.currency_code, SOURCE.tax_amount, SOURCE.uom
              )))
    THEN UPDATE SET
        TARGET.erp_doc_type      = SOURCE.erp_doc_type,
        TARGET.erp_post_date     = SOURCE.erp_post_date,
        TARGET.erp_sku           = SOURCE.erp_sku,
        TARGET.erp_customer_code = SOURCE.erp_customer_code,
        TARGET.erp_location_code = SOURCE.erp_location_code,
        TARGET.qty               = SOURCE.qty,
        TARGET.unit_price        = SOURCE.unit_price,
        TARGET.gross_amount      = SOURCE.gross_amount,
        TARGET.discount_amount   = SOURCE.discount_amount,
        TARGET.currency_code     = SOURCE.currency_code,
        TARGET.tax_amount        = SOURCE.tax_amount,
        TARGET.uom               = SOURCE.uom,
        TARGET.load_ts           = SYSUTCDATETIME()
    WHEN NOT MATCHED BY TARGET
    THEN INSERT (erp_doc_id, erp_doc_type, erp_post_date, erp_sku, erp_customer_code,
                 erp_location_code, qty, unit_price, gross_amount, discount_amount,
                 currency_code, tax_amount, uom, load_ts)
         VALUES (SOURCE.erp_doc_id, SOURCE.erp_doc_type, SOURCE.erp_post_date, SOURCE.erp_sku, SOURCE.erp_customer_code,
                 SOURCE.erp_location_code, SOURCE.qty, SOURCE.unit_price, SOURCE.gross_amount, SOURCE.discount_amount,
                 SOURCE.currency_code, SOURCE.tax_amount, SOURCE.uom, SYSUTCDATETIME())
    OUTPUT 'erp3_revenue', $action INTO @SummaryOfChanges;

    ---------------------------------------------------------
    -- GL Revenue
    ---------------------------------------------------------
    MERGE dbo.gl_revenue AS TARGET
    USING (SELECT * FROM stg.gl_revenue) AS SOURCE
    ON (TARGET.gl_doc_id = SOURCE.gl_doc_id AND TARGET.gl_line_id = SOURCE.gl_line_id)
    WHEN MATCHED 
         AND HASHBYTES('SHA1',
              UPPER(CONCAT_WS('|',
                  TARGET.gl_doc_id, TARGET.gl_line_id, TARGET.gl_post_date, TARGET.gl_account,
                  TARGET.gl_location_code, TARGET.product_ref, TARGET.customer_ref,
                  TARGET.debit, TARGET.credit, TARGET.currency_code,
                  TARGET.source_system, TARGET.journal_type, TARGET.memo
              )))
          <> HASHBYTES('SHA1',
              UPPER(CONCAT_WS('|',
                  SOURCE.gl_doc_id, SOURCE.gl_line_id, SOURCE.gl_post_date, SOURCE.gl_account,
                  SOURCE.gl_location_code, SOURCE.product_ref, SOURCE.customer_ref,
                  SOURCE.debit, SOURCE.credit, SOURCE.currency_code,
                  SOURCE.source_system, SOURCE.journal_type, SOURCE.memo
              )))
    THEN UPDATE SET
        TARGET.gl_post_date     = SOURCE.gl_post_date,
        TARGET.gl_account       = SOURCE.gl_account,
        TARGET.gl_location_code = SOURCE.gl_location_code,
        TARGET.product_ref      = SOURCE.product_ref,
        TARGET.customer_ref     = SOURCE.customer_ref,
        TARGET.debit            = SOURCE.debit,
        TARGET.credit           = SOURCE.credit,
        TARGET.currency_code    = SOURCE.currency_code,
        TARGET.source_system    = SOURCE.source_system,
        TARGET.journal_type     = SOURCE.journal_type,
        TARGET.memo             = SOURCE.memo,
        TARGET.load_ts          = SYSUTCDATETIME()
    WHEN NOT MATCHED BY TARGET
    THEN INSERT (gl_doc_id, gl_line_id, gl_post_date, gl_account, gl_location_code,
                 product_ref, customer_ref, debit, credit, currency_code,
                 source_system, journal_type, memo, load_ts)
         VALUES (SOURCE.gl_doc_id, SOURCE.gl_line_id, SOURCE.gl_post_date, SOURCE.gl_account, SOURCE.gl_location_code,
                 SOURCE.product_ref, SOURCE.customer_ref, SOURCE.debit, SOURCE.credit, SOURCE.currency_code,
                 SOURCE.source_system, SOURCE.journal_type, SOURCE.memo, SYSUTCDATETIME())
    OUTPUT 'gl_revenue', $action INTO @SummaryOfChanges;

    ---------------------------------------------------------
    -- Write Audit Summary
    ---------------------------------------------------------
    INSERT INTO dbo.audit_log (Process, [Table], Records_inserted, Records_updated, Status, Dated)
    SELECT 
        'Incremental data load - staging',
        TableName,
        SUM(CASE WHEN Change = 'INSERT' THEN 1 ELSE 0 END),
        SUM(CASE WHEN Change = 'UPDATE' THEN 1 ELSE 0 END),
        'SP Completed',
        GETDATE()
    FROM @SummaryOfChanges
    GROUP BY TableName;

END
